/* Modal Overlay */
.modal-card-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

/* Show the modal when active */
.modal-card-modal.active {
    display: flex;
}

/* Modal Card */
.modal-card {
    position: relative;
    height: 460px;
    width: 300px;
    background-color: #fff;
    margin: 100px auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header {
    position: absolute;
    height: 220px;
    width: 95%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to right, #1dd1a1, #1abc9c);
}

.modal-header img {
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    left: 90px;
    top: 22px;
}

.modal-header  h3 {
    margin-top: 40px;
    position: absolute;
    font-family: sans-serif;
    color: white;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
    top: 118px;
    left: 90px;
}

.modal-header > p {
    position: absolute;
    font-family: sans-serif;
    color: rgb(236, 233, 233);
    font-size: 13px;
    top: 166px;
    left: 90px;
}

.modal-body {
    position: absolute;
    height: 126px;
    left: 5px;
    right: 5px;
    top: 52%;
    border-radius: 12px;
}

.modal-body ul {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.modal-body ul li {
    position: absolute;
    list-style: none;
    display: block;
    height: 40px;
    width: 100%;
    left: 0;
    right: 0;
    border-radius: 12px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.modal-body ul li p,
.modal-body ul li h3,
.modal-body ul li i {
    position: absolute;
}

.modal-body ul li h3 {
    font-size: 1.2rem;
    left: 58px;
    color: #16a085;
}

.modal-body ul li p {
    top: 20px;
    left: 59px;
    font-size: 12px;
    font-family: sans-serif;
    color: #16a085;
}

.modal-body ul li i {
    left: 8px;
    top: 7px;
    color: #16a085;
    font-size: 26px;
}

.modal-body ul li:nth-child(1) {
    top: -16px;
}

.modal-body ul li:nth-child(2) {
    top: 26px;
}

.modal-body ul li:nth-child(3) {
    top: 68px;
}

.modal-body ul li:nth-child(1) i {
    left: 12px;
}

.modal-body li:hover {
    background-color: #16a085;
    cursor: pointer;
}

.modal-body li:hover i {
    color: #fff;
}

.modal-body li:hover h3 {
    color: #fff;
}

.modal-body li:hover p {
    color: #fff;
}

